
          <style>
            #footer {
              font-size: 13px;
              height: 100px;
              margin-left: auto;
              margin-right: auto;
              padding: 2rem 1rem;
              text-align: center;
              min-width: 230px;
              max-width: 300px;
            }
            #footer p {
              margin: 0;
            }
          </style>
          <p>Built with <a href="https://github.com/McShelby/hugo-theme-relearn"><i class="fas fa-heart"></i></a> by <a href="https://gohugo.io/">Hugo</a></p>
